node_modules/
dist/
downloads/
tmp/
*.log
plugins/node-repl/runtime/bin/
!plugins/node-repl/runtime/bin/
plugins/node-repl/runtime/bin/*
!plugins/node-repl/runtime/bin/node_repl.exe
plugins/node-repl/runtime/*.tar.gz
plugins/node-repl/runtime/*.manifest.json
!.gitkeep
